@import "./_mixins.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nofFoundWrapper {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  .nofFoundContainer {
    width: 100%;
    height: 100%;
    @include contentInCenter;
  }
}
