@import "./_variables.scss";
@import "./_mixins.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.todosWrapper {
  width: 100%;
  @include contentInColumn;
  gap: 70px;
  background-color: $pageColor;
  .todosPage {
    @include contentInColumn;
    width: 100%;
    margin: 0px;
    padding-bottom: 100px;
    .todosTitle {
      @include titleStyle;
      margin-top: 120px;
    }
    .todoHead {
      tr {
        th {
          text-align: start;
          display: flex;
          justify-content: center;
        }
      }
    }
    .noTodos {
      width: 100%;
      @include contentInCenter;
      p {
        font-size: $todosTextSize;
      }
    }
    .todosContainer {
      width: 70%;
      @include contentInColumn;
      background-color: #fff;
      border-radius: 12px;
      .todoBody {
        width: 100%;
        border-radius: 8px;
        tr {
          td {
            width: 40%;
            text-align: center;
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 15%;
            }
            &:nth-child(1) {
              width: 30%;
              text-align: start;
              padding-left: 20px;
            }
            &:nth-child(2) {
              text-align: start;
              padding-left: 20px;
            }
          }
          @include contentInCenter;
          width: 100%;
          height: 50px;
          padding: 20px 0px;
          &:nth-child(odd) {
            background-color: rgb(242, 245, 247);
          }
          &:nth-child(even) {
            background-color: rgb(224, 231, 236);
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.616);
          }
        }
        .todosItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .todoTitle,
          .todoText {
            font-size: $todosTextSize;
            font-weight: 500;
            color: $fontsColor;
          }
          .todoButtons {
            @include contentInCenter;
            gap: 15px;
            .todoDelete {
              font-size: $todosTextSize;
              color: rgb(59, 59, 170);
              transition-duration: 1s;
              &:hover {
                transform: scale(1.3);
                color: red;
                transition-duration: 1s;
                cursor: pointer;
              }
            }
            .todoEdit {
              font-size: $todosTextSize;
              color: rgb(59, 59, 170);
              transition-duration: 1s;
              &:hover {
                transform: scale(1.3);
                color: red;
                transition-duration: 1s;
                cursor: pointer;
              }
            }
          }
          .done {
            color: green;
          }
          .panding {
            color: orange;
          }
        }
      }
      .todoHead {
        width: 100%;
        tr {
          width: 100%;
          @include contentInCenter;
          width: 100%;
          height: 40px;
          padding: 20px 0px;
          th {
            width: 40%;
            text-align: center;
            &:nth-child(3) {
              width: 15%;
            }
            &:nth-child(4) {
              width: 15%;
            }
            &:nth-child(1) {
              width: 30%;
            }
          }
        }
        .todosItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}
